<ion-header style="--box-shadow: none !important;" class="ion-no-border">
    <ion-toolbar style="--background: #E8320F !important;border-radius: -25px;--box-shadow: none !important;">
        <ion-buttons slot="start" style="color: white;">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="font-family: 'Berlin_Sans';margin-left: 90px;color: white;">LoBusco</ion-title>
        <ion-icon slot="end" name="search-outline" style="transform: rotate(90deg) !important;font-size: 20px;margin-right: 12px;color: white;"></ion-icon>

    </ion-toolbar>

</ion-header>

<ion-content style="--background: #E8320F;">
    <div class="ion-text-center">
        <ion-slides [options]="slideOpts">
            <ion-slide>
                <ion-grid>
                    <ion-row>
                        <ion-col size="7" class="ion-text-left">
                            <p style="color: white;font-family: 'Berlin_Sans'; font-size: 25px;">ASADERO JARRIS 20% OFF
                            </p>
                            <ion-button color="light" shape="round" style="--color: #E8320F !important;--ion-color-contrast:#E8320F !important;font-size: 15px;font-weight: bold;">
                                ¡Reservalo ya!</ion-button>
                        </ion-col>
                        <ion-col size="5">
                            <img src="../../../assets/Imagenes/BURBUJA PRODUCTO HOME.png">
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>
            <ion-slide>
                <ion-grid>
                    <ion-row>
                        <ion-col size="7" class="ion-text-left">
                            <p style="color: white;font-family: 'Berlin_Sans'; font-size: 25px;">ASADERO JARRIS 20% OFF
                            </p>
                            <ion-button color="light" shape="round" style="--color: #E8320F !important;--ion-color-contrast:#E8320F !important;font-size: 15px;font-weight: bold;">
                                ¡Reservalo ya!</ion-button>
                        </ion-col>
                        <ion-col size="5">
                            <img src="../../../assets/Imagenes/BURBUJA PRODUCTO HOME.png">
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>
            <ion-slide>
                <ion-grid>
                    <ion-row>
                        <ion-col size="7" class="ion-text-left">
                            <p style="color: white;font-family: 'Berlin_Sans'; font-size: 25px;">ASADERO JARRIS 20% OFF
                            </p>
                            <ion-button color="light" shape="round" style="--color: #E8320F !important;--ion-color-contrast:#E8320F !important;font-size: 15px;font-weight: bold;">
                                ¡Reservalo ya!</ion-button>
                        </ion-col>
                        <ion-col size="5">
                            <img src="../../../assets/Imagenes/BURBUJA PRODUCTO HOME.png">
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ion-slides>


    </div>
    <div style="background: white;border-radius: 46px 46px 0px 0px;height: 100%;">
        <div class="ion-text-center">
            <ion-grid>
                <ion-row>
                    <ion-col size="3">
                        <img src="../../../assets/Imagenes/CATEGORIA COMIDA.png">
                    </ion-col>
                    <ion-col size="3">
                        <img src="../../../assets/Imagenes/CATEGORIA ELECTRONICA.png">
                    </ion-col>
                    <ion-col size="3">
                        <img src="../../../assets/Imagenes/CATEGORIA MUEBLES.png">
                    </ion-col>
                    <ion-col size="3">
                        <img src="../../../assets/Imagenes/CATEGORIA SALUD.png">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="ion-text-left">
            <h1 style="font-family:  'Berlin_Sans';margin: 10px;">
                Busco Comida
            </h1>
            <ion-item lines="none" (click)="Detalle()">
                <ion-card style="width: 100%;box-shadow: 3px 3px 5px rgb(0 0 0 / 37%)">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="4">
                                <img src="../../../assets/Imagenes/Danny Broaster.png" style="width: 80px;border: solid 4px white;height: 80px;border-radius: 60px;box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.37);">
                            </ion-col>
                            <ion-col size="6" class="ion-text-left">
                                <p style="font-family: 'Berlin_Sans';color: black;font-size: 20px;">Danny Broaster</p>
                                <span><ion-icon name="star" style="color: yellow;"></ion-icon><ion-icon name="star" style="color: yellow;"></ion-icon><ion-icon name="star" style="color: yellow;"></ion-icon><ion-icon name="star"style="color: yellow;"></ion-icon><ion-icon name="star"style="color: yellow;"></ion-icon></span>
                            </ion-col>
                            <ion-col size="2" style="vertical-align: middle;">
                                <ion-icon name="chevron-forward-circle-outline" style="margin-top: 30px;margin-right: 2px;font-size: 25px;color: #E8320F;"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-item>
            <ion-item lines="none">
                <ion-card style="width: 100%;box-shadow: 3px 3px 5px rgb(0 0 0 / 37%)">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="4">
                                <img src="../../../assets/Imagenes/Danny Broaster.png" style="width: 80px;border: solid 4px white;height: 80px;border-radius: 60px;box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.37);">
                            </ion-col>
                            <ion-col size="6" class="ion-text-left">
                                <p style="font-family: 'Berlin_Sans';color: black;font-size: 20px;">Danny Broaster</p>
                                <span><ion-icon name="star" style="color: yellow;"></ion-icon><ion-icon name="star" style="color: yellow;"></ion-icon><ion-icon name="star" style="color: yellow;"></ion-icon><ion-icon name="star"style="color: yellow;"></ion-icon><ion-icon name="star"style="color: yellow;"></ion-icon></span>
                            </ion-col>
                            <ion-col size="2" style="vertical-align: middle;">
                                <ion-icon name="chevron-forward-circle-outline" style="margin-top: 30px;margin-right: 2px;font-size: 25px;color: #E8320F;"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-item>
            <ion-item lines="none">
                <ion-card style="width: 100%;box-shadow: 3px 3px 5px rgb(0 0 0 / 37%)">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="4">
                                <img src="../../../assets/Imagenes/Danny Broaster.png" style="width: 80px;border: solid 4px white;height: 80px;border-radius: 60px;box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.37);">
                            </ion-col>
                            <ion-col size="6" class="ion-text-left">
                                <p style="font-family: 'Berlin_Sans';color: black;font-size: 20px;">Danny Broaster</p>
                                <span><ion-icon name="star" style="color: yellow;"></ion-icon><ion-icon name="star" style="color: yellow;"></ion-icon><ion-icon name="star" style="color: yellow;"></ion-icon><ion-icon name="star"style="color: yellow;"></ion-icon><ion-icon name="star"style="color: yellow;"></ion-icon></span>
                            </ion-col>
                            <ion-col size="2" style="vertical-align: middle;">
                                <ion-icon name="chevron-forward-circle-outline" style="margin-top: 30px;margin-right: 2px;font-size: 25px;color: #E8320F;"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-item>
        </div>
    </div>
</ion-content>